<h1> Welcome to CellMarket, your personal inventory manager for your cellphone store!</h1>
<br><br>
<h3> To import a file of your inventory table click in the link below</h3>
<%=button_to "Upload page", upload_new_path %>
